<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <style>
      /* Tambahkan CSS untuk membuat gambar bersebelahan */
      .result-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      }
      .result-container div {
        flex: 1;
        text-align: center;
      }
      .result-container img {
        max-width: 90%;
        height: auto;
        border: 2px solid #ddd;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <p class="app-name">Kel 2</p>
      <nav class="navbar">
        <button><a href="/">Home</a></button>
        <button><a href="/about">About Us</a></button>
        <div class="dropdown">
          <button class="dropbtn">Features</button>
          <div class="dropdown-content">
            <a href="/Histogram_Equal">Histogram Equalization</a>
            <a href="/Face_Blurring">Face Blurring</a>
            <a href="/Face_Detection">Face Detection</a>
            <a href="/Edge_Detection">Edge Detection</a>
            <a href="/segment_image">Image Segmentation</a>
            <!-- New Feature -->
          </div>
        </div>
      </nav>
    </header>

    <section class="content">
      <div class="centered-title">
        <h2>Face Detection</h2>
      </div>

      <div class="form-container">
        <form
          action="/Face_Detection"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="file">Upload Image:</label>
          <input type="file" name="file" id="file" required />
          <br /><br />
          <button type="submit">Upload Image</button>
        </form>
      </div>

      {% if original_image %}
      <div class="result-container">
        <div>
          <h3>Original Image</h3>
          <img src="{{ original_image }}" alt="Original Image" />
        </div>
        <div>
          <h3>Detected Faces</h3>
          <img src="{{ face_detected_image }}" alt="Detected Faces" />
        </div>
      </div>

      <h4 style="text-align: center">
        Number of Faces Detected: {{ face_count }}
      </h4>
      {% endif %}
    </section>

    <footer class="footer">
      <p>&copy; 2024 Image Processing App. All Rights Reserved.</p>
    </footer>
  </body>
</html>
