<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Image Processing App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <button><a href="/">Home</a></button>
        <button><a href="/about">About Us</a></button>
        <div class="dropdown">
          <button class="dropbtn">Features</button>
          <div class="dropdown-content">
            <a href="/Histogram_Equal">Histogram Equalization</a>
            <a href="/Face_Blurring">Face Blurring</a>
            <a href="/Face_Detection">Face Detection</a>
            <a href="/Edge_Detection">Edge Detection</a>
            <a href="/segment_image">Image Segmentation</a>
          </div>
        </div>
      </nav>
    </header>

    <div class="card-container">
      <div class="card">
        <h3>Histogram Equalization</h3>
        <p>
          Enhance the contrast of your images by redistributing the pixel
          intensity values. This feature helps bring out hidden details in
          photos, making them clearer and more visually appealing.
        </p>
        <a href="/Histogram_Equal" class="btn">Learn More</a>
      </div>
      <div class="card">
        <h3>Face Blurring</h3>
        <p>
          Protect privacy by blurring faces in your images. This feature is
          useful for anonymizing personal photos, social media posts, or any
          image that includes identifiable faces.
        </p>
        <a href="/Face_Blurring" class="btn">Learn More</a>
      </div>
      <div class="card">
        <h3>Face Detection</h3>
        <p>
          Automatically detect faces in your images with high accuracy. This
          feature will allow you to identify and highlight faces, making it
          perfect for security applications or social media enhancements.
        </p>
        <a href="/Face_Detection" class="btn">Learn More</a>
      </div>
      <div class="card">
        <h3>Edge Detection</h3>
        <p>
          Highlight the edges of objects in your images to emphasize shapes and
          boundaries. Ideal for technical illustrations, artistic effects, or
          enhancing details in your photos.
        </p>
        <a href="/Edge_Detection" class="btn">Learn More</a>
      </div>
      <div class="card">
        <h3>Image Segmentation</h3>
        <p>
          Automatically segment objects or regions in your images. This feature can be used to isolate specific elements, such as vegetation in satellite images, helping in analysis and visualization.
        </p>
        <a href="/segment_image" class="btn">Learn More</a>
      </div>      
    </div>

    <footer class="footer">
      <p>&copy; 2024 Image Processing App. All Rights Reserved.</p>
    </footer>
  </body>
</html>
