<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Comparison Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <header>
      <p class="app-name">Pixel Guard</p>
      <nav class="navbar">
        <button><a href="/">Home</a></button>
        <button><a href="/about">About Us</a></button>
        <div class="dropdown">
          <button class="dropbtn">Features</button>
          <div class="dropdown-content">
            <a href="/Histogram_Equal">Histogram Equalization</a>
            <a href="/Face_Blurring">Face Blurring</a>
            <a href="/Face_Detection">Face Detection</a>
            <a href="/Edge_Detection">Edge Detection</a>
            <a href="/Segment_Image">Image Segmentation</a>
            <a href="/Image_Filter">Image Filtering</a>
            <a href="/Image_Effects">Image Effects</a>
            <a href="/Image_Comparison">Image Comparison Tools</a>
            <a href="/Inpaint_Restoration">Inpainting</a>
          </div>
        </div>
      </nav>
    </header>

    <section class="content">
      <div class="centered-title">
        <h2>Image Comparison Tools</h2>
      </div>

      <div class="form-container">
        <form action="/Image_Comparison" method="post" enctype="multipart/form-data">
          <label for="file1">Upload First Image:</label>
          <input type="file" name="file1" id="file1" required />
          <br /><br />
          <label for="file2">Upload Second Image:</label>
          <input type="file" name="file2" id="file2" required />
          <br /><br />
          <button type="submit">Compare Images</button>
        </form>
      </div>

      {% if original_image1 and original_image2 %}
      <div class="output-container">
        <div class="output-image">
          <h3>First Image</h3>
          <img
            src="{{ url_for('static', filename='uploads/' + original_image1.split('/')[-1]) }}"
            alt="First Image"
            width="400"
          />
        </div>
        <div class="output-image">
          <h3>Second Image</h3>
          <img
            src="{{ url_for('static', filename='uploads/' + original_image2.split('/')[-1]) }}"
            alt="Second Image"
            width="400"
          />
        </div>
        <div class="output-container">
            <h3>Image Comparison Results</h3>
            <p><strong>Mean Squared Error (MSE):</strong> {{ mse }}</p>
            <p><strong>Structural Similarity Index (SSIM):</strong> {{ ssim }}</p>
        </div>        
      </div>
      {% endif %}
    </section>

    <footer class="footer">
      <p>&copy; 2024 Image Processing App. All Rights Reserved.</p>
    </footer>
  </body>
</html>